@font-face {
  font-family: "Persian";
  src: url('../../fonts/PersianSwordDemoRegular.ttf');
}

@font-face {
  font-family: "Funwork";
  src: url('../../fonts/Funwork.ttf');
}

.font-persian {
  font-family: "Persian", sans-serif;
}

.text__highlight {
  font-family: "Funwork", sans-serif;

}

.hero-section {

  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.689),
      #bae6fd,
      #ffffff);
  height: 100lvh;
}

.hero-bg {
  opacity: 1;
  transform: none;
  background-repeat: repeat;
  background-size: initial;
  background-image: url('../../assets/imagens/asset.webp');
  height: 100%;
}

.flex.justify-center.items-center {
  opacity: 1;
  transform: none;
}

.linha1 {
  margin-bottom: 32px;
  font-size: 48px;
  height: fit-content;
}

.linha2 {
  margin-bottom: 8px;
  font-size: 48px;
  height: fit-content;
}


.linha3 {
  padding-top: 16px;
  height: fit-content;
  justify-content: center;
  font-size: clamp(1.5rem, 5vw, 48px); /* tamanho flexível */
  margin-bottom: 8px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap; /* garante quebra */
  text-align: center;
}

.linha3p1 {
  height: fit-content;
  font-size: clamp(1.5rem, 5vw, 48px);
  margin-bottom: 8px;
  max-width: 100%;
  word-break: break-word;
}

.linha3p2 {
  display: block;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.linha3p2p1,
.linha3p2p2,
.linha3p2p3 {
  font-weight: 800;
  font-style: italic;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #00B50C;
  display: inline-block;
  margin-bottom: 8px;
  z-index: 1;
  white-space: normal;
}

.linha3p2p1 {
  font-size: clamp(1.5rem, 5vw, 48px);
  font-family: "Funwork", sans-serif;
}

.linha3p2p2 {
  font-size: clamp(1rem, 4vw, 36px);
  font-family: "Persian", sans-serif;
  letter-spacing: -0.9px;
  line-height: 1.2;
  vertical-align: super;
  word-spacing: 7.2px;
}

.linha3p2p3 {
  font-size: clamp(1.5rem, 5vw, 48px);
  font-family: "Persian", sans-serif;
}

