.conteiner {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imagens/asset.webp");
  flex-direction: column;
  align-items: center;
}
@font-face {
  font-family: "PersianSword";
  src: url("../../assets/fonts/PersianSwordDemoRegular.ttf");
}
@font-face {
  font-family: "Funwork";
  src: url("../../assets/fonts/Funwork.ttf");
}

.linha1,
.linha2,
.linha3,
.linha3-pt1,
.linha3-pt3,
.linha3-pt4 {
  display: flex;
  font-size: 48px;
  font-family: PersianSword;
  font-weight: 700;
}

.linha3-pt2{
    font-family: 'Funwork';
    font-size: 56px;
}

