@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}


body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #FBFFFF 20%, #DCEAF7 30%, #C1E5F5 100%);  
}
