@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #FBFFFF 10%, #DCEAF7 20%, #C1E5F5 100%);
}
